lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
stdout.log
log.txt
custom_params.json
.git/

pids
logs

node_modules/

npm-debug.log

# web-storm
.idea
dump.rdb
build.json
passmark/
passmark/*
passmark/**/*

public/js/*
public/css/*

# content caching
tmp/
package-lock.json
kube.deploy.yaml
google-cloud-sdk/
public/js
public/css
public/sw.js
deploy.sh
yarn.lock